.sync-icon {
  width: 3rem;
  height: 3rem;
  font-size: 3rem;
  transform: rotate(152deg);
  transition: 1s all ease;
  animation: roateAround 1s ease-in;
}

@keyframes roateAround {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(415deg);
  }
}

.history-analytic-section {
  padding: 1.5rem;
}

.chart-card {
  display: grid;
  align-items: center;
  gap: 1.25rem;
  grid-template-columns: 100px 1fr;
}

.data-analytic-card {
  border-radius: 12px;
  padding: 1rem 0.75rem;
  margin-bottom: 1.5rem;
  background-color: var(--wla-white);

  .card-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .title {
      font-size: 0.875rem;
      font-weight: 400;
      margin-bottom: 0;
    }
    .mat-icon {
      color: var(--wla-primary-color);
    }
  }
}

.section-value {
  .value {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 0;

    small {
      font-size: 0.875rem;
      font-weight: 500;
      color: #a4abb2;
    }
  }
}

.legend-holder {
  display: flex;
  align-items: center;
  gap: 0.25rem;

  .color-1 {
    background-color: var(--wla-secondary-color);
  }

  .color-2 {
    background-color: var(--wla-primary-color-200);
  }

  .color-3 {
    background-color: var(--wla-primary-color-400);
  }

  .color {
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }

  .name {
    font-size: 0.875rem;
    font-weight: 500;
    color: #a4abb2;
  }
}

::ng-deep {
  .progress-one,
  .progress-two,
  .progress-three {
    height: 10px !important;
  }

  .progress-one {
    border-radius: 8px 0 0 8px;
    .mat-progress-bar-buffer {
      background-color: var(--wla-secondary-color-100);
    }

    .mat-progress-bar-fill::after {
      background-color: var(--wla-secondary-color);
      border-radius: 8px;
    }
  }

  .progress-two {
    .mat-progress-bar-buffer {
      background-color: var(--wla-primary-color-50);
    }
  }

  .progress-three {
    border-radius: 0 8px 8px 0;

    .mat-progress-bar-buffer {
      background-color: var(--wla-primary-color-100);
    }
  }
}
