.menu-list {
  .list-group-item {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 1.5rem;
    border: none;
    margin-bottom: 1rem;

    .mat-icon {
      color: var(--wla-primary-color);
    }
  }
}
