<ng-container *ngIf="chartOptions">
  <apx-chart
    *ngIf="showChart && chartOptions"
    [series]="chartOptions?.series"
    [chart]="chartOptions?.chart"
    [dataLabels]="chartOptions?.dataLabels"
    [plotOptions]="chartOptions?.plotOptions"
    [yaxis]="chartOptions?.yaxis"
    [xaxis]="chartOptions?.xaxis"
    [stroke]="chartOptions?.stroke"
    [grid]="chartOptions?.grid"
    [colors]="chartOptions?.colors"
    [annotations]="chartOptions?.annotations"
    [legend]="chartOptions?.legend"
    
  ></apx-chart>
</ng-container>
